
<div id="chat_with_us" class="row" >
    <div class="icon-wrapper"> 
    <a class="chatw_us" href="contactus.html">
        <img class="messenger" src="images/chat1.png" alt="chat-icon" >
        </a>
    </div>
</div>