<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo scarab.jpg" width="100px">
            </div>

            
<div class="search"> 
    <img class="search-icon" src="images/search-icon.png" alt="search icon">
    <input type="text" placeholder="Search...">
    <a href="#">
        <i class="fasearch"></i>
    </a>
</div> 

            <nav>
                <ul id="MenuItems">
                    <li> <a class="same" href="index.html"> Home </a></li>
                    <li> <a class="same" href="products.html"> Products</a></li>
                    <li> <a class="same" href="About.html"> About Us </a></li>
                    <li> <a class="same" href="contactus.html"> Contact </a></li>
                    <li> <a class="same" href="form.html"> Login</a></li>
                </ul>
            </nav>
            
            <a href="cart.html"><img src="images/cart.png" width="30px" height="30px" style="cursor: pointer;"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>  