<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Products / Scarab </title>
    <link rel="stylesheet" href="CSS/products-details.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

   




<div class="small-container single-product">
    <div class="row">
        <div class="col">
            <img src="images/gallery-1.jpg" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="images/gallery-1.jpg" width="100%" class="small-img" >
                </div>
                <div class="small-img-col">
                    <img src="images/gallery-2.jpg" width="100%" class="small-img" >
                </div>
                <div class="small-img-col">
                    <img src="images/gallery-3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/gallery-4.jpg" width="100%" class="small-img" >
                </div>

            </div>

        </div>
        <div class="col">
            <p>Home/T-Shirt</p>
            <h1> Red T-Shirt </h1>
            <h4> EGP 249.99</h4>
            <select style="font-size: 16px; cursor: pointer;">
                <option > Select Size</option>
                <option> XXL</option>
                <option> XL</option>
                <option>Large</option>
                <option> Medium</option>
                <option> Small</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn"> Add to Cart </a>
            <h3>Product Details  <i class="fa fa-indent" ></i> </h3>
            <p>Give your summer wardrobe a style upgrade with Men's Active T-Shirt. Team it with a pair 
                of shorts for your morning workout or a denims for an evening out with the guys.
            </p>
        </div>
    </div>
</div>





<!-- title  -->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products </h2>
        <p>View More</p>

    </div>
</div>



<!-- products  -->
<div class="small-container">
    <div class="row">
        <div class="col-4">
           <img src="images/product-9.jpg" >
           <h4> Black SportX wATCH </h4>
           <div class="rating">
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star-o"></i>
           </div>
           <p> EGP 2400.00</p>
        </div>
        <div class="col-4">
           <img src="images/product-10.jpg" >
           <h4> Black Addidas Shoes </h4>
           <div class="rating">
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star-half-o" ></i>
               <i class="fa fa-star-o"></i>
           </div>
           <p> EGP 2699.00</p>
        </div>
        <div class="col-4">
           <img src="images/product-11.jpg" >
           <h4> Gray Nike Shoes </h4>
           <div class="rating">
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star-half-o"></i>
           </div>
           <p> EGP 3000.00</p>
        </div>
        <div class="col-4">
           <img src="images/product-12.jpg" >
           <h4> Black Trackpants </h4>
           <div class="rating">
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star" ></i>
               <i class="fa fa-star-o"></i>
           </div>
           <p> EGP 400.00</p>
        </div>
    </div>
</div>










<!-- js for toggle menu -->
<script>
    var MenuItems=document.getElementById("MenuItems");
    MenuItems.style.maxHeight="0px";
    function menutoggle()
    {
        if(MenuItems.style.maxHeight=="0px")
        {
            MenuItems.style.maxHeight="200px";
        }
        else 
        {
            MenuItems.style.maxHeight="0px";
        }
    }
</script>

<!-- js for product gallery -->
<script>
     var ProductImg=document.getElementById("ProductImg");
     var SmallImg=document.getElementsByClassName("small-img");
     SmallImg[0].onclick=function()
     {
        ProductImg.src=SmallImg[0].src;
     }
     SmallImg[1].onclick=function()
     {
        ProductImg.src=SmallImg[1].src;
     }
     SmallImg[2].onclick=function()
     {
        ProductImg.src=SmallImg[2].src;
     }
     SmallImg[3].onclick=function()
     {
        ProductImg.src=SmallImg[3].src;
     }

</script>

</body>
</html>