<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scarab | <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="CSS/About.css">
   
</head>

<body>
    
  
    <div class="about">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Hello and welcome to Scarab, the place where you can find the best clothing for every taste and occasion. We thoroughly check the quality of our goods, working only with reliable suppliers so that you only receive the best quality. <br>
                We at Scarab believe in high quality and exceptional customer service. But most importantly, we believe shopping is a right, not a luxury, so we do our best to deliver the best products at the most affordable prices, and ship them to you regardless of where you are located.
            </p>
            <div class="skills">
                <span>Designing clothes</span>
                <span>Best Quality</span>
                <span>Good Service</span>
            </div>
        </div>
    </div>

    <script>
        var MenuItems=document.getElementById("MenuItems");
        MenuItems.style.maxHeight="0px";
        function menutoggle()
        {
            if(MenuItems.style.maxHeight=="0px")
            {
                MenuItems.style.maxHeight="200px";
            }
            else 
            {
                MenuItems.style.maxHeight="0px";
            }
        }
    </script>
    
</body>
</html>