<!DOCTYPE html>
<html>
<head>
	<title>Scarab | <%= title %> </title>
	<link rel="stylesheet" type="text/css" href="contactus.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="CSS/contactus.css">
  <link rel="stylesheet" href="CSS/searchBar.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- include('partials/head.ejs') %>
</head>


<body>

  <%- include('partials/nav.ejs') %>
	<div class="container">
		<div class="contact-box">
			
			<div class="right">
				<h2> We'll help you as soon as possible</h2>
                
				<input type="text" class="field" placeholder="Username">
				<input type="text" class="field" placeholder="User-Email">
				<input type="text" class="field" placeholder="Phone">
				<textarea placeholder="Message Content" class="field"></textarea>
				<button class="btn">Send</button>
			</div>
		</div>
	</div>


  <script>
    var MenuItems=document.getElementById("MenuItems");
    MenuItems.style.maxHeight="0px";
    function menutoggle()
    {
        if(MenuItems.style.maxHeight=="0px")
        {
            MenuItems.style.maxHeight="200px";
        }
        else 
        {
            MenuItems.style.maxHeight="0px";
        }
    }
</script> 

</body>
</html>